/*body {
    background-color: rgb(37,41,52);
}*/

body {
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
}

#firstpage {
    color: white;
    display: flex;
    text-align: center;
    justify-content:center;
    height: 100vh;  /*can be 770px*/
    width: 100%;
    background-color: rgb(37,41,52);
}

#firstpagetext {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align:center;
    align-self: center;
}

.buttonpage {
    background-color:rgb(37,41,52);
    border-radius: 2px;
    font-size: 24px;
    color: white;
    border: 2px solid rgb(197, 59, 239);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.buttonpage:hover {
    background-color:rgb(197, 59, 239);
    color:white;
}

#aboutme {
    color:white;
    display: flex;
    justify-content:center;
    height: 750px;
    width: 100%;
    background-color: rgb(37,41,52);
}

#aboutmetext {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align:center;
}

#aboutmeimage {
    text-align:center;
    margin: 175px;
}


#myprojects {
    color: white;
    display: flex;
    justify-content: center;
    height: 100%; /*height: 990px*/
    width: 100%;
    background-color: rgb(37,41,52);
}

#myprojectstext {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align:center;
    justify-content: center;
}

.carousel-inner div img {
    width: 100%;
    height: 100%; /* 80vh*/
    margin-bottom: 50px;
    margin-top: 50px;
}

.carousel-slide {
    display: flex;
    flex-direction: Column;
    align-content: center;
    flex-wrap: wrap;
}

/*made a carousel div check it out with davido*/
#carousel {
    margin-top: 200px;
    align-content: center;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next {
    filter: invert(100%);
}
